

.navbar {
	margin-bottom: 50px;
	border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
	margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	padding: 25px;
}

.panel-primary>.panel-heading {
    color: #fff;
    border-color: #337ab7;
    background-color: #3755dac2;
    font-size:16px;
    font-width:700;
    height:60px;
  	padding-top:20px;
}

.panel-body{
	height : 260px;
}

.like-btn{
	height:60px;
	float:right;
	margin-top:-20px;
}
