<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="finalPlaceMap">
	
	<resultMap id="FPMap" type="finalPlaceVO">
		<id property="final_Place_Num" column="FINAL_PLACE_NUM" />
		<result property="place_Id" column="PLACE_ID" />
		<result property="place_Name" column="PLACE_NAME" />
		<result property="tour_Sequence_Key_Num" column="TOUR_SEQUENCE_KEY_NUM" />
		<result property="divided_by_Center" column="DIVIDED_BY_CENTER" />
		<result property="next_Distance" column="Next_Distance" />
		<result property="middle_Num" column="MIDDLE_NUM" />
		<result property="restaurant_Place_Id" column="RESTAURANT_PLACE_ID" />
		<result property="image_Path" column="IMAGE_PATH" />
		<result property="lati_Coord" column="LATI_COORD" />
		<result property="longi_Coord" column="LONGI_COORD" />
		<result property="place_Tel" column="PLACE_TEL" />
		<result property="place_Addr" column="PLACE_ADDR" />
		<result property="close_Day" column="CLOSE_DAY" />
		<result property="close_Possible_Day" column="CLOSE_POSSIBLE_DAY" />
		<result property="open_Time" column="OPEN_TIME" />
		<result property="close_Time" column="CLOSE_TIME" />
		<result property="use_Time" column="USE_TIME" />
		<result property="tour_Hour" column="TOUR_HOUR" />
		<result property="place_Det" column="PLACE_DET" />
		<result property="like_Count" column="LIKE_COUNT" />
		<result property="tags" column="TAGS" />
	</resultMap>
	
	<resultMap id="FPPartDataMap" type="finalPlaceVO">
		<id property="final_Place_Num" column="FINAL_PLACE_NUM" />
		<result property="place_Id" column="PLACE_ID" />
		<result property="place_Name" column="PLACE_NAME" />
		<result property="tour_Sequence_Key_Num" column="TOUR_SEQUENCE_KEY_NUM" />
		<result property="divided_by_Center" column="DIVIDED_BY_CENTER" />
		<result property="next_Distance" column="Next_Distance" />
		<result property="middle_Num" column="MIDDLE_NUM" />
		<result property="restaurant_Place_Id" column="RESTAURANT_PLACE_ID" />
		<result property="lati_Coord" column="LATI_COORD" />
		<result property="longi_Coord" column="LONGI_COORD" />
	</resultMap>
	
	<resultMap id="FinalOutputPlace" type="finalPlaceVO">
		<id property="final_Place_Num" column="FINAL_PLACE_NUM" />
		<result property="place_Name" column="PLACE_NAME" />		
		<result property="lati_Coord" column="LATI_COORD" />
		<result property="longi_Coord" column="LONGI_COORD" />
		<result property="divided_by_Center" column="DIVIDED_BY_CENTER" />
	</resultMap>
	
	<select id="selectFirstFinalOutputPlace" parameterType="hashmap" resultMap="FinalOutputPlace">
		SELECT  
		FINAL_PLACE_NUM
		, PLACE_NAME
		, LATI_COORD
		, LONGI_COORD
		, DIVIDED_BY_CENTER
		FROM
		(SELECT * FROM
		(SELECT * FROM FINAL_PLACE 
		WHERE TO_CHAR(MIDDLE_NUM) NOT IN ('1', '2', '3', '4', '5', '6')
		AND
		PLACE_NAME NOT LIKE '%추자%'
        AND
        PLACE_NAME NOT LIKE '%마라도%')
		<if test='null_check == "ihavetag"'>
		WHERE
		<foreach collection="tagList_Refined" item="tag" index="index" separator="OR" open="(" close=")">
		TAGS LIKE '%'||#{tag}||'%'
		</foreach>
		</if>
		<choose>
		<when test="#{place_Opt_Num_Refined}.equals('1')">
		ORDER BY LIKE_COUNT DESC)
		</when>
		<when test="#{place_Opt_Num_Refined}.equals('3')">
		ORDER BY LIKE_COUNT ASC)
		</when>
		<otherwise>
		)
		</otherwise>
		</choose>
		<![CDATA[
		WHERE ROWNUM <= #{total_Row_count_Refined}
		]]>
	</select>
	
	<select id="selectSecondFinalOutputPlace" parameterType="hashmap" resultMap="FinalOutputPlace">
		SELECT  
		FINAL_PLACE_NUM
		, PLACE_NAME
		, LATI_COORD
		, LONGI_COORD
		, DIVIDED_BY_CENTER
		FROM
		(SELECT * FROM
		(SELECT * FROM FINAL_PLACE 
		WHERE TO_CHAR(MIDDLE_NUM) NOT IN ('1', '2', '3', '4', '5', '6')
		AND		
		PLACE_NAME NOT LIKE '%추자%'
        AND
        PLACE_NAME NOT LIKE '%마라도%')
		WHERE TO_CHAR(FINAL_PLACE_NUM) NOT IN
		<foreach collection="already_existing_place_num" item="num" index="index" separator="," open="(" close=")">
		#{num}
		</foreach>
		<![CDATA[		
		ORDER BY LIKE_COUNT ASC)
		WHERE ROWNUM <= #{more_need_rowCount}
		]]>
	</select>
	
	<select id="selectFinalPlaceAll" resultMap="FPMap">
		<![CDATA[
		SELECT * FROM FINAL_PLACE ORDER BY FINAL_PLACE_NUM ASC
		]]>
	</select>
	
	<select id="selPartDataExceptRestaurant" resultMap="FPPartDataMap">
		<![CDATA[
		SELECT FINAL_PLACE_NUM
		       , PLACE_ID
		       , PLACE_NAME
		       , TOUR_SEQUENCE_KEY_NUM
		       , DIVIDED_BY_CENTER
		       , Fore_Distance
		       , MIDDLE_NUM
		       , RESTAURANT_PLACE_ID
		       , LATI_COORD
		       , LONGI_COORD 
		       FROM FINAL_PLACE
		WHERE MIDDLE_NUM NOT IN (1, 2, 3, 4, 5, 6)
		]]>
	</select>
	
	<update id="updateTourSeqKeyNum" parameterType="finalPlaceVO">
		<![CDATA[
		UPDATE FINAL_PLACE
			SET 
			TOUR_SEQUENCE_KEY_NUM = #{tour_Sequence_Key_Num}
			, DIVIDED_BY_CENTER = #{divided_by_Center}
			, FORE_DISTANCE = #{fore_Distance}
			WHERE
			FINAL_PLACE_NUM = #{final_Place_Num}
			AND
			PLACE_ID = #{place_Id}		
		]]>
	</update>
	
</mapper>