<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="memberMapper">

  <insert id = 'signUp' parameterType="login">
    <![CDATA[
        INSERT INTO member (member_Email, password)
        VALUES (#{member_Email}, #{password})
    ]]>
    </insert>
    
    <select id = "loginCheck" parameterType="login" resultType="String">
       	<![CDATA[
        select member_Email  from member 
        where member_Email = #{member_Email} and password = #{password}
		]]>
     </select>
    
    
    <select id = "viewMember" parameterType="login" resultType="login">
    <![CDATA[
        select * from member 
        where member_Email = #{member_Email} and password = #{password}
   ]]>
    </select>
    



</mapper>