<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- AdminSelVO Alias 설정 -->
	<typeAliases>
		<typeAlias alias="visitJeju" type="com.jeju.vo.AdminSelVO" />
		<typeAlias alias="getApiVO" type="com.jeju.vo.PlaceNewVO" />
	</typeAliases>

</configuration>

