<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   
   <!-- AdminSelVO Alias 등 tour 관련 설정 -->
   <typeAliases>
      <typeAlias alias="visitJeju" type="com.jeju.vo.AdminSelVO" />
      <typeAlias alias="getApiVO" type="com.jeju.vo.PlaceNewVO" />
      <typeAlias alias="finalPlaceVO" type="com.jeju.vo.FinalPlaceVO_GyuBeom" />
      
      <!-- Tour Team Test -->
      <typeAlias alias="placeTest" type="com.jeju.vo.PlaceTestVO"/>
      
      <!-- communityBoard alias 설정 -->
      <typeAlias alias="community" type="com.jeju.vo.CommunityBoardVO"/>
      
      <!-- pick alias 설정(별칭) -->
      <typeAlias alias="pick" type="com.jeju.vo.PickVO"/>
      
      <!-- place alias 설정 -->
      <typeAlias alias="place" type="com.jeju.vo.PlaceNewVO"/>
	  
	  	<!-- Q&A alias 설정(별칭) -->
		<typeAlias alias="qnA" type="com.jeju.vo.QnAVO"/>
		<!-- reply alias 설정(별칭) -->
		<typeAlias alias="reply" type="com.jeju.vo.ReplyVO"/>
   </typeAliases>

</configuration>


