<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- AdminSelVO Alias 설정 -->
	<typeAliases>
		<typeAlias alias="visitJeju" type="com.jeju.vo.AdminSelVO" />
		<!-- pick alias 설정(별칭) -->
		<typeAlias alias='pick' type="com.jeju.vo.PickVO" />
		<!-- communityBoard alias 설정 -->
	<typeAlias  alias="community" type="com.jeju.vo.CommunityBoardVO"/>
	</typeAliases>

</configuration>

